@font-face {
    font-family: skygraze;
    src: url("../font/Skygraze.otf");
    font-style: normal;
    font-weight: normal;
}



:root {
    --colorrojo:#ff0000;
    --colorazul:#0000FF;
    --colorvino:#960018;
    font-size: 20px;
    font-family: skygraze;
}


/* * {
   background-color:#00FFFF;
} */

nav .details1 .category1{
    color: var(--colorrojo);
    font-family: skygraze;
    font-size: 2.5em;
    
}

nav .details2 .category2{
    color:var(--colorazul);
    font-family: skygraze;
    font-size: 1.5em;
    
}

nav .details2 a{
    color: var(--colorvino);
    font-family:  'Cabin', sans-serif;
    font-size: 1rem;

}
