@font-face {
    font-family: skygraze;
    src: url("../font/Skygraze.otf");
    font-style: normal;
    font-weight: normal;
}



:root {
    --colorrojo:#ff0000;
    --colorazul:#0000FF;
    --colorvino:#960018;
    font-family: skygraze;
}


/* * {
   background-color:#00FFFF;
} */

.details1 .category1{
    color: var(--colorrojo);
    font-family: skygraze;
    
}

.details2 .category2{
    color:var(--colorazul);
    font-family: skygraze;
    
}

.details2 a{
    color: var(--coloraverde);
    font-family:  'Cabin', sans-serif;

}
